@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(31, 41, 55);
  background-color: #f1f8fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 360px;
}

.flex-center {
  @apply justify-center items-center;
}


.field-rounded {
  @apply py-2 p-3 rounded-lg;
}

.field-border {
  @apply border-2 border-gray-300 border-opacity-80 bg-white focus:outline-none;
}

.field-label {
  @apply text-sm text-gray-500;
}

.field {
  @apply mt-1 mb-3 field-rounded field-border text-gray-500;
}

.link {
  @apply text-secondary transition ease-out duration-300 hover:text-secondary-200 hover:font-medium cursor-pointer; 
}

.btn-primary {
  @apply bg-primary text-white font-medium transition ease-out duration-500 hover:bg-primary-200 hover:shadow-md;
}

.header-icon-size {
  @apply w-4 h-4 sm:w-5 sm:h-5;
}

.circle-sm {
  @apply text-xs sm:text-sm font-semibold w-5 h-5 sm:w-6 sm:h-6 rounded-full flex flex-center;
}

.task-action-icon {
  @apply items-center cursor-pointer hover:text-slate-700;
}

.sidebar-icon {
  @apply flex items-center gap-2;
}